<div class="display">
    <div class="poster">
        <img src="{{ movieInfo.poster }}" height="350" width="236" />
    </div>
    <div class="info">
        <div class="title-flex">
            <div class="title">
                <p>{{ movieInfo.title }}</p>
            </div>
            <div class="year">
                <p>({{ movieInfo.year }})</p>
            </div>
            <div class="bookmark">
                <button mat-flat-button color="warn" (click)="removeMovie()">
                    Remove
                </button>
            </div>
        </div>
        <div class="subinfo-flex">
            <div class="rated">
                <p>{{ movieInfo.rated }}</p>
            </div>
            <div>
                <p>|</p>
            </div>
            <div class="runtime">
                <p>{{ movieInfo.runtime }}</p>
            </div>
            <div>
                <p>|</p>
            </div>
            <div class="Genre">
                <p>{{ movieInfo.genre }}</p>
            </div>
        </div>
        <div class="stars">
            <p><mat-icon> star_rate </mat-icon> {{ movieInfo.rating }}</p>
        </div>
        <div class="plot">
            <p>{{ movieInfo.plot }}</p>
        </div>
        <div class="dir-flex">
            <div class="director">
                <p>
                    Director: <span>{{ movieInfo.director }}</span>
                </p>
            </div>
            <div class="cast">
                <p>
                    Stars: <span>{{ movieInfo.actors }}</span>
                </p>
            </div>
        </div>
        <mat-divider></mat-divider>
        <div class="notes">
            <div class="header">
                <p>Notes:</p>
            </div>
            <div class="note-content">
                {{ inNotes }}
            </div>
        </div>
    </div>
</div>
<div class="add-notes">
    <div class="note-form">
        <mat-form-field class="form-form">
            <mat-label>Add notes</mat-label>
            <textarea
                matInput
                [formControl]="myControl"
                placeholder="Ex. Planning to watch on... "
            ></textarea>
        </mat-form-field>
    </div>
    <div class="submit-button">
        <button mat-flat-button color="primary" (click)="addNotes()">
            Submit
        </button>
    </div>
</div>
